{% extends 'padre.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} hija 1 curso {% endblock %}</title>
</head>
<body>
    {% block content %}
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur expedita, praesentium ducimus error voluptate nesciunt fugiat unde quam possimus vel numquam qui nemo natus repellat debitis est laborum, eum corrupti.
      Ducimus provident dignissimos assumenda nihil, eaque cum vitae aliquam fugiat praesentium ipsam sunt, enim fugit quia, consequuntur quam vel voluptatem suscipit beatae illum architecto quisquam at saepe explicabo consectetur! Nisi.</p>
    
      <iframe width="560" height="315" src="https://www.youtube.com/embed/d1-UX6aR_TM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {% endblock %}
</body>
</html>