{% extends 'padre.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} hija 2 curso {% endblock %}</title>
</head>
<body>
    {% block content %}
    <p style="background-color:brown; color:white; font-family: Arial, Helvetica, sans-serif">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur expedita, praesentium ducimus error voluptate nesciunt fugiat unde quam possimus vel numquam qui nemo natus repellat debitis est laborum, eum corrupti.
    Ducimus provident dignissimos assumenda nihil, eaque cum vitae aliquam fugiat praesentium ipsam sunt, enim fugit quia, consequuntur quam vel voluptatem suscipit beatae illum architecto quisquam at saepe explicabo consectetur! Nisi.</p>
    <p style="background-color: coral; color:white; font-family: Arial, Helvetica, sans-serif">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa cupiditate quae aspernatur velit modi fuga, officia suscipit praesentium voluptatibus animi, consectetur sequi necessitatibus, aut facere iure illo error voluptas cum.</p>
    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ybr2HsrmNkY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {% endblock %} 
</body>
</html>